*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}
.panel {
    background-color: #60a9ff;
}
.pricing-table{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pricing-plan{
    height: 40rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    border: 1px solid #63acfb ;
}
.pricing-img{
    width: 10rem;
    height: 10rem;
}

.pricing-header{
    color: #97a0a7;
    font-size: medium;
}
.pricing-features{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 6rem;
    width: 12rem;
    color: #0472fc;
}
.pricing-features-item{
    list-style: none;
    font-size: smaller;
    text-align: center;
}
.pricing-price{
    color: #047af9;
    font-size: 30px;
    font-weight: 700;
}
.pricing-button{
    border: 1px solid #c4e3ff;
    color: #0472fc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 130px;
}
.pricing-button:hover{
    background-color: #a2eafb;
    transition: all 1.5s;
}
.is-featured{
    color: white;
    background-color: #63acfb;
}
a{
    text-decoration: none;
}